# Name of your application. Used to uniquely configure containers.
service: mydove-kamal-reservation

# Name of the container image.
image: dovewallethq/reservation

# Deploy to these servers.
servers:
  web:
    - 146.190.33.205
#
# Note: If using Cloudflare, set encryption mode in SSL/TLS setting to "Full" to enable CF-to-app encryption.
proxy:
  ssl: true
  host: reservation.dovewallet.co
  app_port: 8080
  healthcheck:
    interval: 5
    path: /health
    timeout: 5

# Credentials for your image host.
registry:
  # Specify the registry server, if you're not using Docker Hub
   server: ghcr.io
   username: dovewalletHQ
   password:
     - KAMAL_REGISTRY_PASSWORD

# Configure builder setup.
# Build on remote server to avoid local network issues
builder:
  remote: 146.190.33.205
  arch: amd64

# Inject ENV variables into containers (secrets come from .kamal/secrets).

env:
  clear:
    ENVIRONMENT: production
  secret:
    # Database credentials (external MongoDB)
    - MONGO_DSN
    - MONGO_DB_NAME


ssh:
  user: tiny-dove
  keys: ["~/.ssh/tiny_dove"]